$ff-serif: "Abril Fatface", serif;
$ff-sans: "Lato", sans-serif;

$ff-base: $ff-sans;
$ff-accent: $ff-serif;

$font-sizes: (
  900: 5rem,
  800: 3.75rem,
  700: 2rem,
  600: 1.6875rem,
  500: 1.3125rem,
  400: 1.125rem,
  // set on the body
  300: 1rem
);

$fw-regular: 400;
$fw-bold: 700;
