@use "../abstracts/" as *;

.primary-nav {
  --flex-column-gap: #{$navigation-gap};
  --flex-row-gap: #{$navigation-gap} / 2;

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: clr(neutral, 100);
    font-family: $ff-accent;
    font-size: fs(700);

    &:is(:hover, :focus) {
      opacity: 0.7;
      text-decoration: underline;
    }
  }
}
