@font-face {
  src: url(../../assets/fonts/AbrilFatface-Regular.ttf) format("truetype"),
    local("Abril Fatface");
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url(../../assets/fonts/Lato-Regular.ttf) format("truetype"),
    local("Lato");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url(../../assets/fonts/Lato-Bold.ttf) format("truetype"), local("Lato");
  font-style: normal;
  font-weight: 700;
}
